@import 'config';
@import 'cv';
@import 'posts';
@import 'social';

body {
    background: $primary-background-color;
    color: $primary-color;
    height: 100vh;
    padding-left: 0.5em;
    padding-right: 0.5em;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.5em;
}

p, dl, ol, ul, code, blockquote {
    line-height: 1.5;
    margin-top: 0;
    // margin-bottom: 1em;
}

a {
    color: $primary-color;
    text-decoration: none;
}

li { 
    list-style-position: inside;
}
///


.header-link {
    background: linear-gradient(
        to bottom, $secondary-color 0%,
        $secondary-color 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    transition: background-size .2s;
}
  
.header-link:hover {
    background-size: 1px 1.5em;
}

  ///

img {
    display: block;
    margin: 0.5em auto;
    width: auto;
    max-width: 900px;

  }

header {
    &.main-header {
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    padding: 1rem 0;

    max-width: inherit;
    background: $primary-background-color;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        margin-right: 1em;
        
    }

    a {
        font-weight: 600;
        // text-decoration: underline;
        // text-decoration-color: $secondary-color;
    }
    }
}

blockquote {
    padding: 1.5em;
    font-style: italic;
    border-left: 5px solid $primary-color;
}

main {
    min-height: 100vh;
}

footer {
    text-align: center;
    margin-top: 1em;

    p, dl, ol, ul, code, blockquote {
        line-height: 1.0;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    ul li {
        display: inline;
    }

    .fa {
        margin-right: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

#splash {
    padding: 25% 0px;
}

.container {
    max-width: 900px;
    margin: 0px auto;
}

.section {
    // margin: 1rem 0;
    overflow-y: auto;

    &.full {
        min-height: 100vh;
    }
    
    &.half {
        min-height: 50vh;
        // background-color: blueviolet;
    }

    &.quarter {
        min-height: 25vh;
        // background-color: skyblue;
    }

    &.blog {
        li {
            list-style-position: inside;
        }
    }

    &.projects {
        li {
            list-style-position: inside;
        }
    }
}

.splash-title {
    font-size: 6.25rem;
}

.splash-subtitle {
    font-size: 2.0rem;
}

.page {
    padding-top: 4em;
}

.col-2 {
    float: left;
    width: 100%;
}

.row:after {
    display: table;
    clear: both;
}

label {
    display: block;
    margin: 0.5em 0;
}

input {
    display: block;
    width: 100%;
    margin: 1em 0;
}

input[type=submit]:hover {
    background: $primary-color;
    color: #ffffff;
    cursor: pointer;
}

textarea {
    display: block;
    width: 100%;
    margin: 1em 0;
    resize: vertical;
}

.form-input {
    padding: 0.5em;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 0.25em;
}



article {
    list-style-position: inside;
    margin-bottom: 2em;

    p {
        text-align: justify;
    }
}

.post {
    // img {
    //     display: block;
    //     margin: 0.5em auto;
    // }

    pre {
        padding: 1em;
        overflow-y: scroll;
    }

    .highlight{
        margin-bottom: 1em;
    }

}

.post-meta {
    overflow: auto;
    margin-bottom: 0.5em;
}

.post-date {
    width: 50%;
    float: left;
    font-style: italic;
}

.post-author {
    width: 50%;
    float: left;
    text-align: right;
    font-style: italic;
}

// .post-title {

// }

.post-tags {
    font-style: italic;
}

// .post-article {
    a {
        background: linear-gradient(
            to bottom, $secondary-color 0%,
            $secondary-color 100%
        );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 1px 1px;
        transition: background-size .2s;
    }
      
    a:hover {
        background-size: 1px 1.5em;
    }
// }


@media screen and (min-width: 600px) { 
    

    .col-2 {
        float: left;
        width: 50%;
    
        &.left {
            padding-right: 1em;
        }
    
        &.right {
            padding-left: 1em;
        }
    }
}

@media screen and (min-width: 900px) {
    body {
        padding: 0;
    }
}