// Post summary
.meta-date {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/calendar.min.svg')
    }
}

.meta-tags {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/tag.min.svg') 
    }
}

.meta-gitinfo {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/git-commit.min.svg')
    }
}

.meta-author {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/user.min.svg')
    }
}

.meta {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    font-size: 0.8em;

    & > p {
        text-align: left;
    }
}

.new-post {
    display: flex;
    flex-direction: column-reverse;

    & > .new-post-item {
        flex-basis: 25%;

        &.summary {
            text-align: justify;
            flex-grow: 2;
        }
    }
}

@media screen and (min-width: 900px) { 
    .new-post {
        display: flex;
        flex-direction: row;

        & > .new-post-item {
            flex-basis: 25%;
    
            &.summary {
                text-align: justify;
                flex-grow: 2;
            }
    
            &.image {
                margin-left: 0.5em;
            }
        }

    }
}

// Single post
.post {
    & > .meta {
        margin-top: 2em;
    }
}
article {
    margin-bottom: 2em;
}

.content {
    img {
        max-height: 600px;
        margin-bottom: 0.5em;
    }

    hr {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    blockquote {
        padding: .5em;
        font-style: italic;
        border-left: 5px solid $primary-color;
    }

    p {
        text-align: justify;
        margin-bottom: 0.5em;
    }

    ul, ol, table {
        margin-bottom: 0.5em;
    }

    code {
        font-family: 'Courier New', Courier, monospace;
    }

    pre {
        padding: 1em;
        line-height: 1.2;
        font-size: 0.8em;
        
        overflow-y: scroll;
    }

    .highlight{
        margin-bottom: 1em;
    }

    .footnotes {
        line-height: 1.2;
        font-size: 0.8em;
    }
}

.pagination {
    text-align: center;
}
