.fa {
    margin-right: 0.5em;
}

.social-profiles {
    ul {
        list-style-type: none;
        margin-left: 1em;
    }

    a {
        background: linear-gradient(
            to bottom, $secondary-color 0%,
            $secondary-color 100%
        );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 1px 1px;
        transition: background-size .2s;
    }
      
    a:hover {
        background-size: 1px 1.5em;
    }
    margin-bottom: 2em;
}

.fa-github {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/github.min.svg') 
    }
}

.fa-mastodon {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/mastodon.min.svg') 
    }
}

.fa-stack-overflow {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/stack-overflow.min.svg') 
    }
}

.fa-telegram {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/telegram.min.svg') 
    }
}

.fa-linkedin {
    &:before {
        display: inline-flex;
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        content: url('../icons/linkedin.min.svg') 
    }
}
