<article class="new-post">
	<div class="new-post-item meta">
		<p class="meta-date">
			<time>{{ .Date.Format "2006-01-02" }}</time>
		</p>
		<p class="meta-tags">
			{{ range $i, $e := .Params.tags }}
			{{if $i}},&nbsp;{{end}}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</p>

		{{ with .GitInfo }}
		<p class="meta-gitinfo">
			{{ .AbbreviatedHash }}
			{{/*  @ {{ dateFormat "2006-01-02" .AuthorDate }}  */}}
		</p>
		{{ end }}
		
		<p class="meta-author">
			{{ .Params.author }}
		</p>
	</div>
	
	<div class="new-post-item summary">
		<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>

	{{ with .Resources.GetMatch "images/1.jpg" }}
	<div class="new-post-item image">
		{{ $image := .Fill "300x200 Center" }} 
		<img src="{{ $image.Permalink }}"></img>
	</div>
	{{ end }}
</article>
