{{ define "main" }}
	<main class="page">
		<article class="post">
			<div class="post-title">
				<h1>{{ .Title }}</h1>
			</div>

			<div class="content">
				{{ .Content }}
			</div>
			
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			<div class="meta">
				<p class="meta-item meta-date">
					<time>{{ .Date.Format "2006-01-02" }}</time>
				</p>

				<p class="meta-item meta-author">
					{{ .Params.author }}
				</p>
				
				{{ with .Params.tags }}
				<p class="meta-tags">
					{{- range $i, $e := . -}}
						{{if $i}},{{end}}
						<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{- end -}}
				</p>
				{{ end }}
			</div>
		</article>
	</main>
{{ partial "last_posts.html" . }}
{{ end }}
