{{ define "main" }}
<main class="page">
    <h1>{{ .Title }}</h1>
    <section class="social-profiles">
        <h2>Profiles:</h2>
        <ul>
            {{ range .Site.Params.Social }}
                {{ if .visibleInProfiles }}
                    <li>
                        
                            {{ if eq .type "github" }}
                            <i class="fa fa-github"></i><a href="{{ .url }}" rel="me">GitHub</a>
                            {{ else if eq .type  "stackoverflow" }}
                            <i class="fa fa-stack-overflow"></i><a href="{{ .url }}" rel="me">Stack Overflow</a>
                            {{ else if eq .type "telegram" }}
                            <i class="fa fa-telegram"></i><a href="{{ .url }}" rel="me">Telegram</a>
                            {{ else if eq .type "linkedin" }}
                            <i class="fa fa-linkedin"></i><a href="{{ .url }}" rel="me">LinkedIn</a>
                            {{ else if eq .type "mastodon" }}
                            <i class="fa fa-mastodon"></i><a href="{{ .url }}" rel="me">Mastodon</a>
                            {{ end }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>
    <section class="section quarter">
        {{ partial "contact.html" . }}
    </section>
</main>
{{ end }}
